* {
    margin: 0%;
    padding: 0%;

}

body {
    font-family: "TASA Orbiter", sans-serif;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color: #938df8;
    padding: 30px;
}

.navegacao ul {
    list-style: none;
    display: flex;
    color: #FFF
}

.navegacao ul li {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    /*para dar margem somente em uma direção específica, utilizar margin-top, left, right e etc. o margin somente
    dá margem para cima e para baixo (primeiro n) e esquerda e direita (segundo n) */
}

.navegacao ul li a {
    text-decoration: none;
    color: #FFF;
}

#sobre {
    text-align: center;
    background-color: #edeaedb4;
    padding: 60px 20px;
}

.sobre-imagem {
    width: 220px;
    height: 220px;
    border-radius: 50%; /* borda redonda */
    object-fit: cover;
}

.sobre-nome {
    color: #938df8;
    font-size: 25px;
    margin-top: 10px;
}

.sobre-titulo {
    color: #928b8b;
    font-size: 18px;
    margin-top: 5px;
}

.sobre-descricao {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: -30px;
}

.logo {
    color: #FFF;
    font-size: 23px;
}

#formacao {
    padding: 50px 150px;
}

.formacao-titulo {
    color: #49BFB3;
    font-size: 24px;
}

.formacao-lista {
    width: 600px;
    margin: 0 auto;
    margin-left: 60px;
    margin-top: 25px;
}

.formacao-lista h3 {
    font-size: 18px;
    color: #828282;
    margin-bottom: 10px;
    margin-top: 30px;
}

.formacao-lista h4 {
    font-size: 15px;
    color: #49BFB3;
    margin-top: -6px;
    margin-bottom: 10px;
}

.formacao-lista a {
    color: #5894e9;
}

.formacao-lista p {
    margin-top: 10px;
}

#formacao-complementar {
    padding: 50px 150px;
    background-color: #EDEAEA;
}

.formacao-complementar-titulo {
    color: #49BFB3;
    font-size: 24px;
}

.formacao-complementar-lista {
    width: 600px;
    margin: 0 auto;
    margin-left: 60px;
    margin-top: 25px;
}

.formacao-complementar-lista h3 {
    font-size: 18px;
    color: #828282;
    margin-bottom: 10px;
    margin-top: 30px;
}

.formacao-complementar-lista h4 {
    font-size: 15px;
    color: #49BFB3;
    margin-top: -6px;
    margin-bottom: 10px;
}

.formacao-complementar-lista a {
    color: #5894e9;
}

.formacao-complementar-lista p {
    margin-top: 10px;
}

#experiencia {
    padding: 50px 150px;
}

.experiencia-titulo {
    color: #49BFB3;
    font-size: 24px;
}

.experiencia-lista {
    width: 600px;
    margin: 0 auto;
    margin-left: 60px;
    margin-top: 25px;
}

.experiencia-lista h3 {
    font-size: 18px;
    color: #828282;
    margin-bottom: 10px;
    margin-top: 30px;
}

.experiencia-lista a {
    color: #5894e9;
}

.experiencia-lista p {
    margin-top: 10px;
}

#contato {
    padding: 50px 150px;
    background-color: #EDEAEA;
}

.contato-titulo {
    color: #49BFB3;
    font-size: 24px;
    margin-bottom: 25px;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
}

.contato-grupoinput {
    display: flex;
    justify-content: space-between;
}

.contato-input {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}

.contato-input input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
}

.contato-input textarea {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contato-input label {
    font-size: 18px;
    margin-bottom: 8px;
}

.btn-enviar {
    background-color:#938df8;
    padding: 15px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #bcbaee;
}

.rodape {
    background-color:#b5b3e7;
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
}
.rodape-contatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rodape-contatos a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.rodape-contatos img {
    vertical-align: middle;
}

.logo-minas {
    height: 70px;
}